<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="demoSite">
	
	<test name="BothCorrect">
		<parameter name="username" value="Admin"></parameter>
		<parameter name="password" value="admin123"></parameter>
		<classes>
			<class name="demoProjectTesting.BothCorrect" />
		</classes>
	</test>
	
	<test name="BothInCorrect">
		<parameter name="username" value="dummy"></parameter>
		<parameter name="password" value="bava"></parameter>
		<classes>
			<class name="demoProjectTesting.BothInCorrect" />
		</classes>
	</test>
	
	<test name="CorrectUsername">
		<parameter name="username" value="Admin"></parameter>
		<parameter name="password" value="bava"></parameter>
		<classes>
			<class name="demoProjectTesting.CorrectUserName"/>
		</classes>
	</test>
	
	<test name="CorrectPassword">
		<parameter name="username" value="dummy"></parameter>
		<parameter name="password" value="admin123"></parameter>
		<classes>
			<class name="demoProjectTesting.CorrectPassword" />
		</classes>
	</test>

</suite>